#textdomain wesnoth-AoC

#define CRAB_GRAPHICS
PAL(0e0b06,261f10,473c23,917b4d,c19f57,b6aca4,ddd3cd,ffffff>140036,29141e,491d27,5f414a,7f615f,a38583,c19fa5,d2d2d2)~PAL(695937>5f607f)#enddef
[unit_type]
    id=Chuchelki Monster Crab
    name= _ "Rocky Crawler"
    race=monster_chuchelka
    image="units/monsters/crab.png~{CRAB_GRAPHICS}"
    {DEFENSE_ANIM "units/monsters/crab-defend2.png~{CRAB_GRAPHICS}" "units/monsters/crab-defend1.png~{CRAB_GRAPHICS}" {SOUND_LIST:SKELETON_HIT} }
    hitpoints=58
    movement_type=scuttlefoot
    movement=4
    experience=100 
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [resistance]
        blade=85
        cold=85
        pierce=85
        impact=75 
        cold=90
        fire=90
        arcane=120 
    [/resistance]
    advances_to=null
    {AMLA_DEFAULT}
    level=2
    alignment=chaotic
    cost=28
    usage=fighter
    description= _ "The Monster Crab is a semi-sentient crab the size of a horse. It is one of many twisted monsters recorded by the sages of Wesnoth and probably the creation of some twisted mage. These monstrosities have spread into the wild and prefer to live around coastal waters, preying on both humans and animals."
    die_sound={SOUND_LIST:SKELETON_DIE}
    [attack]
        name=claws
        description= _"pincers"
        icon=attacks/claws-crab.png
        type=impact
        range=melee
        damage=16
        number=2
    [/attack]
    [attack]
        name=rock
        description= _ "rock"
        type=impact
        icon=attacks/rock_thrown.png
        range=ranged
        damage=10
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-250
        offset="0:100,0~0.6:150,0.6~0:200"
        [frame]
            image=units/monsters/crab-attack[1,2,3].png~{CRAB_GRAPHICS}:[150,70,130],units/monsters/crab.png~{CRAB_GRAPHICS}:100
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=rock
        [/filter_attack]

        start_time=-1000
        stone_start_time=-800
        bird_y=0~-4:150,-4~4:100,4~0:250,0:500

        # the halo_x/y values were simply lifted from the troll rocklobber, but seem OK for now
        [stone_frame]
            halo="projectiles/stone-large.png:800"
            halo_x=24~0
            halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
            offset=0.0~1.0
        [/stone_frame]
        [frame]
            image=units/monsters/crab-attack[1,2,3].png~{CRAB_GRAPHICS}:[150,70,130],units/monsters/crab.png~{CRAB_GRAPHICS}:100
            offset=0.0
        [/frame]
        {SOUND:HIT_AND_MISS sling-big.ogg sling-big-miss -100}
    [/attack_anim]
[/unit_type]
